body{
    background: linear-gradient(135deg, rgba(218,40,167,1) 13%, rgba(194,40,78,1) 49%);
    background-repeat: no-repeat;
    height: 62.5rem;
}

.dislike{
    height: 5rem;
    width: 5%;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

.dislike:hover{
    fill: rgb(255, 15, 15);
}

.like{
    height: 5rem;
    width: 5%;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

.like:hover{
    fill: rgb(22, 187, 49);
}

.ensemble{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
}

.card{
    border-radius: 3.125rem;
    width: 31.25rem;
    height: 43.75rem;
    background-color: white;
}

.stats{
    position: relative;
    left: 43rem;
    top: 2.5rem;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    border: 0.125rem solid #DCCCA3;
    background-color: transparent;
    font-weight: 600;
    color: #DCCCA3;
    border-radius: 3.125rem;
}

.stats:hover{
    background-color: #DCCCA3;
    border: 0.125rem solid none;
    color: #C2284E;
}